{:paths ["src" "target" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.9.0"}
         org.clojure/clojurescript {:mvn/version "1.10.238"}

         com.bhauman/figwheel-main {:mvn/version "0.1.0-SNAPSHOT"}
         hiccups                   {:mvn/version "0.3.0"}}}
