{:paths   ["src" "target" "resources"]
 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.597"}
           com.bhauman/figwheel-main {:mvn/version "0.2.3"}}

 :aliases {:dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
