{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.866"}
           org.clojure/core.async    {:mvn/version "1.3.610"}}

 :aliases {:dev {:main-opts ["-m"  "cljs.main"
                             "-ro" "ro.edn"
                             "-w"  "src"
                             "-c"  "app.core"
                             "-r"]}}}
