/**
 * -----------------------------------------------------------------------------
 * Resets
 * -----------------------------------------------------------------------------
 */
html {
  box-sizing: border-box;
  min-height:100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input,
label,
select,
button,
textarea {
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;

  /* Browsers have different default form fonts */
  font-size:13px;
  font-family:Arial;
}

input:focus {
	outline:0;
}

/**
 * -----------------------------------------------------------------------------
 * Utils
 * -----------------------------------------------------------------------------
 */


/**
 * general
 */

.shadow-btm {
	box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .2);
}

.shadow-btm-r {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.round-all-brd {
  border-radius: 3px 3px 3px 3px;
}

.round-top-brd {
  border-radius: 3px 3px 0px 0px;
}

.round__btm-brd {
  border-radius: 0px 0px 3px 3px;
}

/**
 * font
 */

.title {
  color: #FCFBFE;
  font-weight: 300;
}


/**
 * -----------------------------------------------------------------------------
 * Elements (Components)
 * -----------------------------------------------------------------------------
 */

/**
 * App
 */

body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;

  /* gradient */
  background-color: #EFEDFD;
  background: -webkit-linear-gradient(to left, #DEDAFC, #EFEDFD);
  background: linear-gradient(to left, #DEDAFC, #EFEDFD);
}

.root-app {
  min-height: 600px;
  width: 400px;
  background-color: #F8F8FA; /* white */

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.1);

  /* center everything vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Calendar Background Squares
 */

.root-bg {
  height: 300px;
  width: 100%;

  /* gradient */
  background-color: #C7BFFA;
  background: -webkit-linear-gradient(to left, #ACA2F9, #C7BFFA);
  background: linear-gradient(to left, #ACA2F9, #C7BFFA);
}

/**
 * Form
 */

.root-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 85%;
  margin-top: -14em;
  margin-bottom: 2em;
  background-color: #FFFFFF /* white */
}

.add-event-form {
  width: 85%;
  padding-top: 1em;
}

/**
 * Form Button
 */

.submit-btn {
  height: 15px;
  width: 80%;
  cursor: pointer;
  color: #B9B1F3; /* Perano purple */
}


/**
 * Input
 */

.root-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.root-input:nth-child(3) {
  padding-bottom: 0;
}

.input-label {
  color: #C2BBF5; /* Melrose purple */
  align-self: left;
  font-weight: bold;
  padding-bottom: .5em;
}

.input-field {
  color: #716F7B; /* Raven gray */
  height: 2em;
  font-size: 18px;
}

.input-field::placeholder {
  color: #BABABE; /* French gray */
}

.input-field:focus{
	border-bottom: 1px solid #C2BBF5; /* Melrose purple */
}

/**
 * Event
 */

.root-event-container {
  height: 200px;
  width: 85%;
  overflow: scroll;
  background-color: #FFFFFF; /* white */
}

.root-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0 1em 0;
  border-left: 3px solid #B8AFF3; /* biloba purple */
}

.event-title {
  margin: 0;
  padding-bottom: .5em;
  color: #605D6B; /* smoky gray */
  font-weight: bold;
  width: 85%;
  text-align: left;
}

.event-time {
  margin: 0;
  color: #BABABE; /* French gray */
  font-size: 12px;
  width: 85%;
  text-align: left;
}
